{{ define "main" }}

<div class="list">
  {{ range .Paginator.Pages }}
  <div class="listItem">
    <div class="listItemTexts">
      <h1 class="listItemTitle">
        <a href="{{.Permalink}}">{{.Title}}</a>
      </h1>
      <p class="listItemDesc">{{.Params.description}}</p>
      <div class="listItemDetail">
        <img
          class="listItemAvatar"
          src="{{.Params.avatar}}"
          loading="lazy"
          alt="Imagem do autor - Carlos Robert"
        />
        <span class="listItemAuthorName">
          {{ range (.GetTerms "authors") }}
            <a href={{ .Permalink }}>{{ .Name }}</a>
          {{end}}
        </span> <span class="listItemSeparator">|</span> 
        <time>{{ dateFormat .Site.Params.dateFormat .Date}}</time>
      </div>
      <div class="listItemCategories">
        {{ range ( .GetTerms "categories" ) }}
          <a class="listItemCategory" href={{ .Permalink }}>{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}
