{{ define "main" }}
<main class="single">
  <div class="singleHead">
    <div class="singleHeadTexts">
      <h1 class="singleHeadTitle">{{.Title}}</h1>
      <div class="singleHeadDetail">
        <img
          src="{{.Params.avatar}}"
          loading="lazy"
          alt="Avatar"
          class="singleAvatar"
        />
        <span
          >{{range (.GetTerms "autores")}}
          <a href="{{.Permalink}}">{{ .Name }}</a>
          {{end}}
        </span>
          {{range (.GetTerms "categorias")}}
          <a href="{{.Permalink}}" class="singleCategory">{{ .Name }}</a>
          {{end}}
      </div>
      <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
  </div>

  <div class="singleBottom">
    <div class="singleContent">
      {{ .Content }}
    </div>
  </div>
</main>
{{ partial "comments/giscus" . }}
{{ end }}
