<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.svg">
    <link rel="stylesheet" href="/styles/style.css">
    <title> CODECAVERNA | {{ .Title }} </title>
</head>
<body>
    <section class="notFoundContainer">
        <div>
            <h1>Desculpe, não encontrei a página que você está procurando! 😲</h1>
            <a href="/">Voltar para a home! 😎</a>
        </div>
    </section>
</body>
</html>